---
import ViewTransitions from "astro/components/ViewTransitions.astro";
const title = Astro.props.title;
---

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />

	<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
	<link rel="icon" type="image/png" href="/favicon/favicon.png" />

	<link
		rel="preload"
		href="/fonts/public-sans-latin-100-normal.woff"
		as="font"
		type="font/woff"
		crossorigin
	/>
	<link
		rel="preload"
		href="/fonts/public-sans-latin-300-normal.woff"
		as="font"
		type="font/woff"
		crossorigin
	/>
	<link
		rel="preload"
		href="/fonts/public-sans-latin-500-normal.woff"
		as="font"
		type="font/woff"
		crossorigin
	/>
	<link
		rel="preload"
		href="/fonts/public-sans-latin-700-normal.woff"
		as="font"
		type="font/woff"
		crossorigin
	/>
	<link
		rel="preload"
		href="/fonts/public-sans-latin-900-normal.woff"
		as="font"
		type="font/woff"
		crossorigin
	/>

	<title>{title}</title>
	<ViewTransitions />
</head>
