---
import MainLayout from "./MainLayout.astro";
import TagSelector from "@/components/TagSelector.astro";
---

<MainLayout title="My Astro Blog">
	<h1>My blog</h1>
	<a href="/">Back to home</a>

	<div class="mx-auto w-full max-w-content-size">
		<TagSelector />
		<section class="my-6 w-full">
			<ul class="space-y-8">
				<slot />
			</ul>
		</section>
	</div>
</MainLayout>
